@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #121212;
    //font-family: 'Roboto';
    font-family: 'Bricolage Grotesque';

}

h1 {
    color: #FF7A77;
}

p {
    color: #fff;
}